name: gotas_de_esperanca
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # MANTENHA APENAS ESTES DOIS:
  firebase_core: ^3.1.1
  firebase_database: ^11.0.1
  # REMOVA A LINHA DO firebase_auth

  shared_preferences: ^2.2.3
  intl: ^0.19.0
  url_launcher: ^6.3.0
  flutter_map: ^6.1.0
  flutter_map_location_marker: ^8.0.3
  geolocator: ^11.0.0
  sqflite: ^2.3.0
  path: ^1.8.3
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/